body {
    font-family: sans-serif;
    background: linear-gradient(to top, #172f4e 0%, #050f1d 100%);
    min-height: 100vh;
    margin: 0px;
    font-size: 20px;
}

.container {
    max-width: 1500px;
    margin: 20px auto;
    background: #323943;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

.header-container {

}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1.7;
    color: #cccccc;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-top: 10px;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    margin-top: 0px;
}

h4 {
    font-size: 1.5em;
    margin: 0px auto;
}

.project {
    margin-bottom: 40px;
    display: flex;
}

.project-image-container {
    flex: 1;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 500px;
    position: relative;
}

.project-info-container {
    flex: 2;
    max-width: 800px;
    margin: 0px auto;
}

.project-title {
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    border: 3px solid black;
    opacity: 1;
    transition: .5s ease;
}

.itch-overlay {
    position: absolute;
    width: 50%;
    height: auto;
    bottom: 25%;
    left: 25%;
    transition: .5s ease;
    opacity: 0;
}

.project-image-container:hover .project-image {
    opacity: 0.5;
    filter: blur(2px);
}

.project-image-container:hover .itch-overlay {
    opacity: 1;
}

.project-description {
    text-align: justify;
}

.project-text-link:link, .project-text-link:visited {
    color: #cccccc;
}

.contact-container {
    margin: auto;
    background: #111111;
    padding: 20px;
}

.contact-text {
    margin: auto;
    text-align: center;
}

.email-link:link {
    color: #cccccc;
}